<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
  </head>
<!-- CSS -->
  <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet" />
  <link href="{{url_for('static',filename='css/bootstrapLux.min.css')}}" rel="stylesheet" />
  <link href="{{url_for('static',filename='css/fontawesome.css')}}" rel="stylesheet" />
  <link href="{{url_for('static',filename='css/estilos.css')}}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  {% block css %} {% endblock %}
<!-- NavBar del sistema -->
<header>
  {% include 'navbar.html' %} 
</header>
<!-- Contenido de la página -->
  <body>
  {% block content %} {% endblock %}
<!-- SCRIPTS -->
  <script src="{{url_for('static',filename='js/jquery/jquery.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script> -->
  <!-- <script src="{{url_for('static',filename='js/popper.js')}}"></script> -->
  <!-- <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  {% block scripts %} {% endblock %}
  </body>
</html>
