{% extends 'layout.html' %}

{% block title %} 
  Ecomerce | Dashboard
{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<div class="container-fluid pt-4 mt-4">
  <div class="row pt-4">
    <div class="col-md-4 mb-4">
       <div class="card bg-info">
         <div class="card-body">
          <h3>Nuevos pedidos</h3> 
          <span class="float-right">5</span>
          <canvas id="myChart" width="90%" height="35%"></canvas>
         </div>
       </div>
    </div>
    <div class="col-md-4 mb-4">
       <div class="card bg-secondary">
         <div class="card-body">
            <h3>Total recuadado</h3> 
            <span class="float-right">$2100</span>
            <canvas id="myLineChart" width="90%" height="35%"></canvas>
         </div>
       </div>
    </div>
    <div class="col-md-4 mb-4">
       <div class="card bg-pink">
         <div class="card-body">
            <h3>Stock</h3> 
            <span class="float-right">1</span>
            <canvas id="myPieChart" width="90%" height="35%"></canvas>
         </div>
       </div>
    </div>
  </div> 
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script charset="utf-8">
Chart.defaults.global.defaultFontColor = '#ccc';
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Remera', 'Pollera', 'Vestido' ],
        datasets: [{
            label: 'Nro. nuevos pedidos',
            data: [12, 10, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(34, 122, 115, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
    }
});
</script>
<script charset="utf-8">
  var c = document.getElementById('myLineChart').getContext('2d');
  var myLineChart = new Chart(c,{
    type: 'line',
    data: {
      labels: ['1550', '900', '650', '200' ],
      datasets: [{
        label: 'Ganancias',
        data: [1550,900,650,200],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(34, 122, 115, 0.2)',
            'rgba(255, 206, 86, 0.2)'
        ],
        pointBackgroundColor:[
            'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
    }
  })
</script>
<script charset="utf-8">
  var b = document.getElementById('myPieChart').getContext('2d');
  var myPieChart = new Chart(b,{
    type: 'pie',
    data: {
      labels: ['Remera', 'Pollera', 'Vestido' ],
      datasets: [{
        label: 'Stock',
        data: [5,2,3],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(34, 122, 115, 0.2)',
            'rgba(255, 206, 86, 0.2)',
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(34, 122, 115, 1)',
          'rgba(255, 206, 86, 1)',
        ],
        borderWidth: 1
      }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
    }
  })
</script>
{% endblock scripts %}
