{% extends 'layout.html' %}

{% block title %} Ecomerce | Register {% endblock %}

{% block css %} {% endblock %}

{% block content %} 
<div class="container-fluid pt-4">
  <div class="row mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ml-4">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/login/">Iniciar sesión</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrarse</li>
      </ol>
    </nav>
  </div> 
  <div class="row mt-2 mb-2">
    <div class="col-md-8 m-auto">
      <div class="card">
        <div class="card-header bg-info p-3">
          <h3 class="text-white text-center mt-2">Registrar Usuario</h3> 
          {% include '_messages-helpers.html' %}
        </div>
        <div class="card-body">
          {% from "_form-helpers.html" import render_field %}
          <form method="POST" enctype="multipart/form-data">
            <div>
              {{ render_field(form.name, class="form-control", placeholder="Ingresa tu nombre") }}
              {{ render_field(form.username, class="form-control", placeholder="Ingresa tu usuario") }}
              {{ render_field(form.email, class="form-control", placeholder="Ingresa tu email") }}
              {{ render_field(form.password, class="form-control", placeholder="Ingresa tu clave") }}
              {{ render_field(form.confirm, class="form-control", placeholder="Confirmar clave") }}
              <input type="file" name="photo" class="form-control"/>
            </div>
            <p><input type="submit" value="Registrarse" class="btn btn-primary btn-block mt-3"/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %} {% endblock %}
